<header>
  <nav>
    <ul>
      <li><a routerLink="/login" routerLinkActive="active" >Login</a></li>
      <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
      <li><a routerLink="/dependencyInject" routerLinkActive="active">DependencyInject</a></li>
      <li><a routerLink="/loading" routerLinkActive="active">Loading</a></li>
      <li><a routerLink="/project" routerLinkActive="active">Project</a></li>
    </ul>
  </nav>
</header>
<main>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</main>